@model MarketPricingSystem.Models.supermarket
@{
    ViewBag.Title = "Updatesupermarket";
    Layout = "~/Views/Shared/_LayoutPageUser.cshtml";
}
<main class="English">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Update SuperMarket</h3></div>
                    <div class="card-body">


                        <form method="post" action="/Supermarket/Confirmupdate">
                            <h6 style="color:red;margin-left:24%;opacity:0.5">@TempData["Message1"]  </h6>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" id="supermarketname" type="text" name="MarketName" value="@Model.supermarketName" required />
                                        <label for="supermarketname">Name </label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input class="form-control" id="supermarketRegion" type="text" name="MarketRegion" value="@Model.supermarketRegion" required />
                                        <label for="supermarketRegion">Region</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <input class="form-control" id="supermarketDescription" type="text" name="MarketDescription" value="@Model.supermarketDescription" required />
                                <label for="supermarketDescription">Description</label>
                            </div>


                            <h6 style="color:red;opacity:0.5">@TempData["Message2"]</h6>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" id="phonenumber" type="text" name="MarketNumber" value="@Model.phonenumber" required  pattern="[0-9]+"  oninvalid="this.setCustomValidity('Please just enter numbers')"oninput="this.setCustomValidity('')" />
                                        <label for="phonenumber">Phone number</label>
                                    </div>
                                </div>

                            </div>

                            <input type="hidden" value="@Model.supermarketId" name="Supermarketid" />

                            <div class="mt-4 mb-0">
                                <div class="d-grid"> <button type="submit" class="btn btn-primary"> Update</button> </div>
                            </div>
                        </form>



                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</main>


<main class="Arabic">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">تعديل معلومات المتجر</h3></div>
                    <div class="card-body">


                        <form method="post" action="/Supermarket/Confirmupdate">
                            <h6 style="color:red;margin-left:24%;opacity:0.5">@TempData["Message1"]  </h6>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" id="supermarketname" type="text" name="MarketName" value="@Model.supermarketName" required />
                                        <label for="supermarketname">الاسم </label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input class="form-control" id="supermarketRegion" type="text" name="MarketRegion" value="@Model.supermarketRegion" required />
                                        <label for="supermarketRegion">المنطقه</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <input class="form-control" id="supermarketDescription" type="text" name="MarketDescription" value="@Model.supermarketDescription" required />
                                <label for="supermarketDescription">الوصف</label>
                            </div>


                            <h6 style="color:red;opacity:0.5">@TempData["Message2"]</h6>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" id="phonenumber" type="text" name="MarketNumber" value="@Model.phonenumber" required   pattern="[0-9]+"  oninvalid="this.setCustomValidity('ادخل ارقام فقط')"oninput="this.setCustomValidity('')" />
                                        <label for="phonenumber">رقم الهاتف</label>
                                    </div>
                                </div>

                            </div>

                            <input type="hidden" value="@Model.supermarketId" name="Supermarketid" />

                            <div class="mt-4 mb-0">
                                <div class="d-grid"> <button type="submit" class="btn btn-primary"> تعديل</button> </div>
                            </div>
                        </form>



                    </div>

                </div>
            </div>
        </div>
    </div>
</main>